@forward "colors";

html {
  box-sizing: border-box;
  font-size: 100%;
}


*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: var(--dbluebg);
  color: var(--whitebg);
  height: 100vh;
  padding-bottom: 5rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
flex-direction: column  ;
  cursor: pointer;
padding: 20px 26px;
  background: var(--pinkbg);
  font-size: 1.7rem;
  font-weight: 700;
  border-radius: 1rem;
  
  
}


.section {
  margin: var(--fs50) 0 0 0;
  width: 100%;
}
.sub {
  max-width: var(--width1);
  padding: 0 var(--fs25);
  margin: 0 auto;
}
.widget {
  margin: 1.5rem 0;
}

.card_animate {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.card_animate:hover {
  transform: translateY(-5px);
}


.strike{
  text-decoration: line-through;
}

.ptext{
  background: var(--pinkbg);
 
  -webkit-background-clip: text; /* For webkit browsers (Chrome, Safari) */
  -moz-background-clip: text; /* For Firefox */
  background-clip: text; /* For webkit browsers (Chrome, Safari) */
  color: transparent;
}


.headone{
  max-width: 900px;
  margin: auto;
}
.headtwo{
  max-width: 1050px;
  margin: auto;
}

.card{
  padding: 1.5rem;
  background:var(--bluebg);
  border-radius: 1rem;
}

.flex{
  flex-direction: column;
  gap: 1rem;
}

.gray{
  color: var(--graybg);
}
