@use "../globals" as *;

.footer_container {
  
    margin: auto;

}
.first_container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-grow: 1;
   
    ul{
        li{
            margin-bottom: .8rem;
            font-size: .9rem;
            font-weight: 300;
        }
    }
    
    footer{
        margin-bottom: 1.5rem;
        padding: 1rem;
        flex: 1 1 25%;
    }
  
}
.footer_header{
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.container_sub{
    display: flex;

}
.address{
    max-width: 30%;
    width: 30%;
    padding: 1rem;
    margin-bottom: 1.5rem;
    img{
        margin-bottom: 1.5rem;
       
    }
    p{
        margin-bottom: 1rem;
        font-size: .9rem;
        font-weight: 400;
    }
}

.second_container{
    display: flex;
    justify-content: space-between;
   p{

    font-size: .9rem;
    font-weight: 500;
    margin-left: 1rem;
   }
    .s_second{
        display: flex;
        a{
            margin-right: 1rem;
            padding: .5rem;
            border-radius: 6px;
            background: var(--bg3);
            svg{
                width: .9rem;
                height: .9rem;
            }
        }
    }
}


.trademark {
    margin-top: 2rem;
    margin-bottom: 3rem;
    text-align: center;
    padding: 0 1rem;
    p{
        text-align: center;
        font-size: 1rem;
        font-weight: 600;
    }
}