@use "../globals" as *;

@media screen and (max-width: 1265px) {
  h1 {
    font-size: var(--fs27) !important;
    font-weight: 700 !important;
    line-height: 1.3;
  }

  h2 {
    font-size: var(--fs22) !important;
    font-weight: 700 !important;
  }
  h3 {
    font-size: var(--fs21) !important;

    font-weight: 700 !important;
  }
  h4 {
    font-size: var(--fs13) !important;

    font-weight: 700 !important;
  }
  h5 {
    font-size: var(--fs11) !important;

    font-weight: 400 !important;
  }
  p {
    font-size: var(--fs11);
    font-weight: 300;
  }
  li {
    font-size: var(--fs11);
    line-height: 1.3;
  }

  .btn {
    font-size: 1.4rem;
  }
  .brands_sub {
    gap: 4rem;
  }
  .hero_card {
    gap: 2rem;
  }
}

@media screen and (max-width: 1090px) {

  h1 {
    font-size: var(--fs22) !important;
    font-weight: 700 !important;
    line-height: 1.3;
  }

  h2 {
    font-size: var(--fs17) !important;
    font-weight: 700 !important;
  }
  h3 {
    font-size: var(--fs16) !important;

    font-weight: 700 !important;
  }
  h4 {
    font-size: var(--fs11) !important;

    font-weight: 700 !important;
  }
  h5 {
    font-size: var(--fs10) !important;

    font-weight: 400 !important;
  }
  p {
    font-size: var(--fs10);
    font-weight: 300;
  }
  li {
    font-size: var(--fs10);
    line-height: 1.3;
  }
  .hero_card {
    flex-direction: column;
    max-width: 740px;
    margin: 4rem auto;
  }
  .hero_img {
    height: 40vw;
  }
  .feature_sub {
    flex-direction: column;
  }
  .feature_sub .f1 {
    order: 2;
  }

  .feature_sub .feature_img {
    height: 60vw;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
  }
  .bonus_cards {
    flex-direction: column;
  }

  .bonus_sub .bonus_cards .b_img {
    height: 50vw;
    width: 80%;
  }
  .method_cards {
    flex-direction: column;
    max-width: 700px;
    gap: 2rem;
  }
  .intro_sub {
    flex-direction: column;
    .intro_img {
      height: 70vw;
      max-width: 70%;
      margin-right: auto;
      margin-left: auto;
      img {
        object-position: 10% 20%;
      }
    }
  }
  .intro {
    .designation {
      display: flex;
    }
    .designation_second {
      display: none;
    }
  }

  .brands_sub {
    gap: 3rem;
    img {
      width: 100px;
      height: 50px;
    }
  }
  .browse_cards {
    flex-direction: column;

    .b_card {
      padding: 1rem;
      .b_img {
        height: 50vw;
        width: 80%;
        margin-bottom: 2rem;
      }
      .b_btn {
        width: fit-content;
      }
    }
  }
  .test_sub .test_first .test_head {
    width: 100%;
  }
  .bonus_btn {
    width: fit-content;
  }
  .intro_sub .i1 ul li {
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }
  .intro_sub .i1 {
    padding: 1rem 1rem;
  }
}

@media screen and (max-width: 900px) {
  .nav_section{

    img{
      width: 4rem;
      height: 4rem;
      margin-left: 2vw;
      margin: 1.5vw 0;
    }
  }
  
  .intro_sub .i1 ul li {
    margin-bottom: 1rem;
    font-size: 1rem;
  }
  .sub {
    padding: var(--fs15);
  }
  .brands_sub {
    gap: 1rem;
    img {
      width: 70px;
      height: 35px;
    }
  }
  .hero_title {
    font-size: 1rem;
  }
  .card_title {
    font-size: 1rem;
  }
  .slot .time_slot {
    font-size: 1rem;
  }
  .btn {
    font-size: 1.1rem;
    padding: 1rem 1.5rem;
  }
  .card_btn span {
    font-size: 0.8rem;
  }
  h1 {
    font-size: var(--fs20) !important;
    font-weight: 700 !important;
    line-height: 1.3;
  }

  h2 {
    font-size: var(--fs18) !important;
    font-weight: 700 !important;
  }
  h3 {
    font-size: var(--fs18) !important;

    font-weight: 700 !important;
  }
  h4 {
    font-size: var(--fs11) !important;

    font-weight: 700 !important;
  }
  h5 {
    font-size: var(--fs10) !important;

    font-weight: 400 !important;
  }
  p {
    font-size: var(--fs10);
    font-weight: 300;
  }
  li {
    font-size: var(--fs10);
    line-height: 1.3;
  }
  .method_sub .method_cards .m_img {
    width: 3rem;
    height: 3rem;
    border-radius: 1rem;
  }
  .method_sub .method_cards .m_card p {
    font-size: 0.9rem;
  }
  .section {
    margin: 3rem 0 0 0;
  }
  #ebook {
    img {
      object-position: 1rem;
    }
  }
  .t_card {
    
    margin-right: 1.5rem;
    width: 250px;

   
    p {
      font-size: 0.8rem;
    }
  }
  .test_head {
    text-align: center;
  }

 
}

// @media screen and (max-width: 600px) {
//     .intro_sub .i1 ul li {
//         margin-bottom: 1rem;
//         font-size: 1rem;
//     }
//   .sub {
//     padding: var(--fs15);
//   }
//   .brands_sub{
//     gap: 1rem;
//     img{
//         width: 70px;
//         height: 35px;
//     }
//   }
//   .hero_title {
//     font-size: 1rem;
//   }
//   .card_title {
//     font-size: 1rem;
//   }
//   .slot .time_slot {
//     font-size: 1rem;
//   }
//   .btn {
//     font-size: 1.1rem;
//     padding: 1rem 1.5rem;
//   }
//   .card_btn span {
//     font-size: 0.8rem;
//   }
//   h1 {
//     font-size: var(--fs20) !important;
//     font-weight: 700 !important;
//     line-height: 1.3;
//   }

//   h2 {
//     font-size: var(--fs18) !important;
//     font-weight: 700 !important;
//   }
//   h3 {
//     font-size: var(--fs18) !important;

//     font-weight: 700 !important;
//   }
//   h4 {
//     font-size: var(--fs11) !important;

//     font-weight: 700 !important;
//   }
//   h5 {
//     font-size: var(--fs10) !important;

//     font-weight: 400 !important;
//   }
//   p {
//     font-size: var(--fs10);
//     font-weight: 300;
//   }
//   li {
//     font-size: var(--fs10);
//     line-height: 1.3;
//   }
//   .method_sub .method_cards .m_img {

//     width: 3rem;
//     height: 3rem;
//     border-radius: 1rem;

// }
//   .method_sub .method_cards .m_card p {
//     font-size: .9rem;
// }
// .section{
//     margin: 3rem 0 0 0 ;
// }
// #ebook{
//   img{
//   object-position:1rem;

// }
// }
// .t_card {
//   padding: 1.5rem 1.5rem;
//   margin-right: 1.5rem;
//   width: 250px;

//   gap: 1rem;
//  p{
//   font-size: .8rem;

//  }
// }
// .test_head{
//   text-align: center;
// }
// }

@media screen and (max-width: 450px) {
  .browse_cards {
    gap: 2rem;
  }
  .method_sub .method_cards .m_card {
    padding: 1.5rem;
  }
  .method_sub .method_cards .m_card p {
    font-size: 0.8rem;
  }
  .sub {
    padding: var(--fs10);
  }
  .hero_title {
    font-size: 0.8rem;
  }
  .card_title {
    font-size: 0.8rem;
  }
  .slot .time_slot {
    font-size: 0.8rem;
  }
  .btn {
    font-size: 0.8rem;
    padding: 1rem 1.5rem;
  }
  .card_btn span {
    font-size: 0.6rem;
  }
  h1 {
    font-size: var(--fs16) !important;
    font-weight: 700 !important;
    line-height: 1.3;
  }

  h2 {
    font-size: var(--fs13) !important;
    font-weight: 700 !important;
  }
  h3 {
    font-size: var(--fs12) !important;

    font-weight: 700 !important;
  }
  h4 {
    font-size: var(--fs09) !important;

    font-weight: 700 !important;
  }
  h5 {
    font-size: var(--fs08) !important;

    font-weight: 400 !important;
  }
  p {
    font-size: var(--fs08);
    font-weight: 300;
  }
  .slot .slot_h {
    font-size: 1rem !important;
  }
  li {
    font-size: var(--fs08);
    line-height: 1.3;
  }

  .hero_card .hc1,
  .hero_card .hc2 {
    padding: 1.2rem;
  }

  .card_last {
    span {
      font-size: 0.9rem;
    }
    p {
      font-size: 1rem;
    }
  }
  .widget {
    margin: 1rem 0;
  }
  .hero_card {
    margin: 2rem 0 0 0;
  }
  .feature_sub .feature_img {
    width: 80%;
  }

  .feature_sub .f1 {
    padding: 1rem 1rem;
  }
  .section {
    margin: 2rem 0 0 0;
  }
  .bonus_sub {
    gap: 2rem;
  }
  .intro_sub .i1 ul li {
    font-size: 0.8rem;
  }
  .footer_last span {
    font-size: .9rem;
  }
  .footer{
    padding-bottom: 3rem;
  }
.t_vid{
     height: 230px;
}
.tes_img{
  object-position: center;
  
}
}
