@use "../globals" as *;
.nav_section {
  display: flex;
  position: relative;
  z-index: 10;
  width: 100%;
padding: 0 4vw;
 
  justify-content: space-between;
  align-items: center;
  background: var(--pinkbg);
  img{
    margin: 1vw 0;
    width: 5rem;
    height: 5rem;
  }
}
.stars{
  display: flex;
  gap: .3rem;
}
//hero section

.hero_heading {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1.5rem;
  p {
    color: var(--graybg);
  }
}
.card_title {
  font-size: 1.25rem;
  color: var(--graybg);
}
.hero_title {
  font-size: 1.4rem;
  color: var(--graybg);
}
.hero_card {
  display: flex;
  flex-direction: row;

  gap: 3rem;

  margin-top: 4rem;

  .hc1,
  .hc2 {
    flex: 1 1 50%;
    display: flex;
    gap: 1.5rem;

    flex-direction: column;
    text-align: center;
    padding: 2rem;
    justify-content: center;

    ul {
      text-align: left;
      font-size: 1.2rem;
      li {
        margin-bottom: 1rem;
        display: flex;

        span {
          height: 100%;
          margin-right: 1rem;
        }
      }
    }
  }
}

.slot {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
  .slot_h {
    font-size: 1.3rem !important;
    font-weight: bold;
    color: var(--whitebg) !important;
  }
  .time_slot {
    width: fit-content;
    display: flex;
    padding: 0.8rem 1.5rem;
    background: var(--dgraybg);
    gap: 1rem;
    font-size: 1.2rem;
    align-items: center;
    svg{
      width: 1rem;
    }
  }
}

.hc2_sub {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
 
}
.card_btn {
  span {
    margin-top: 0.3rem;
    font-size: 1rem;
  }
}
.hero_img {
  position: relative;
  height: 280px;
  img {
    object-fit: fill;
    border-radius: 1rem;
  }
}

.card_last {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
  gap: 2rem;
  span {
    font-size: 1.2rem;
  }
  p {
    font-size: 1.4rem;
    font-weight: 600;
  }
}

//feature

.feature_sub {
  display: flex;
  gap: 2rem;
  .f1 {
    flex: 1 1 58%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem 2rem;
    ul {
      list-style-type: disc;
      padding-left: 1.8rem;
      li {
        margin-bottom: 0.8rem;
      }
    }
  }
  .f2 {
    flex: 1 1 42%;
  }

  .feature_img {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 1rem;
    border-radius: 1.5rem;

    img {
      border-radius: 1.5rem;
      object-fit: cover;
    }
  }
}

//bonus

.bonus_sub {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  text-align: center;
  justify-content: center;
  .bonus_cards {
    width: 100%;
    display: flex;
    gap: 1.5rem;

    .b_card {
      flex: 1 1 33.33%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.8rem;
    }
    .b_img {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 100%;
      width: 100%;

      position: relative;
      background: var(--bluebg);
      height: 250px;
      border-radius: 1.5rem;
      margin-bottom: 1rem;
      img {
        border-radius: 1.5rem;
      }
    }
  }
}

#ebook {
  img {
    object-position: 15%;
  }
}
#assessment {
  img {
    object-position: center;
  }
}
#cm {
  img {
    object-fit: fill;
    object-position: center;
  }
}

.bonus_btn {
  width:fit-content;
}

//method

.method_sub {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  .method_cards {
    width: 100%;
    display: flex;
    gap: 1.5rem;

    .m_card {
      flex: 1 1 33.33%;
      display: flex;
      flex-direction: column;

      align-items: flex-start;
      gap: 0.8rem;
      background: var(--bluebg);

      border-radius: 1.5rem;
      padding: 2rem;
      p {
        font-size: 1rem;
      }
    }
    .m_img {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 5rem;
      height: 5rem;

      position: relative;

      border-radius: 1.5rem;

      img {
        border-radius: 1.5rem;
      }
    }
  }
}

#ebook {
  img {
    object-position: 1.8rem;
  }
}
#assessment {
  img {
    object-position: center;
  }
}
#cm {
  img {
    object-position: top;
  }
}



//intro
.intro {
  display: flex;

  flex-direction: column;
  h2 {
    margin-bottom: 3rem;
    align-self: center;
  }
  .designation {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
 display: none;
    width: 100%;
    
  }
}
.designation_second{
  margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;

    width: 40%;
    
}

.intro_sub {
  display: flex;
  gap: 2rem;
  .i1 {
    flex: 1 1 58%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem 2rem;
    ul {
      list-style-type: disc;
      padding-left: 1.8rem;
      li {
        margin-bottom: 1rem;
        font-size: 1.45rem;
      }
    }
  }
  .i2 {
    flex: 1 1 42%;
  }

  .intro_img {
    width: 100%;
    height: 100%;
    position: relative;

    border-radius: 1.5rem;

    img {
      border-radius: 1.5rem;
      object-fit: cover;
      object-position: 10% 20%;
    }
  }
}

//brands

.brands_sub {
  display: flex;
  flex-wrap: wrap;
  gap: 6rem;
  align-items: center;
  justify-content: center;
}

.brands_sub {
  img {
    object-fit: contain;
    cursor: pointer;
  }
}

.browse_sub {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.browse_cards {
  display: flex;
  width: 100%;
  gap: 4rem;

  .b_card {
    flex: 1 1 50%;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    a{
      width: 100%;
      div{
        margin: auto;
      }
    }
    .b_img {
      width: 100%;
      position: relative;
      height: 350px;
      background: var(--bluebg);
      border-radius: 1.5rem;
      margin-bottom: 2rem;
      img {
        border-radius: 1.5rem;
      }
    }
  }
}

.b_btn {
  width: 80%;
}









.test_sub{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  .test_head{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
.test_cards {
  overflow: auto;
}
// testimonials
.test_cards_sub {
  display: inline-flex;
}

.test_cards::-webkit-scrollbar {
  display: none;/* Set the width of the scrollbar */
}
.t_vid{
  width: 100%;
  height: 300px;
  position: relative;
  img{
    border-radius:  8px 8px 0 0;
  }
}
.tes_img{
  object-position: center;
  object-fit: fill;
}
.t_card {
  // padding: 3rem 2rem;
  margin-right: 2rem;
  background: var(--bluebg);
  display: flex;
  flex-direction: column;

  align-items: center;
  text-align: center;
  // gap: 1.5rem;
  width: 320px;
  border-radius: .6rem;
  p {
    font-size: 1rem;
  }
  .stars {
    svg {
      width: 1rem;
      height: 1rem;
      color: #FFB800;
    }
  }
  
  .t_des {
    font-size: 1rem;
  }
}
.play_wrapper{
 position: absolute;
 width: 100%;
 height: 100%;
 z-index: 2;
 display: flex;
 justify-content: center;
 border-radius: 8px 8px  0 0;
 align-items: center;
 cursor: pointer;
 
 .play_btn{

  display: flex;
  
 justify-content: center;
 align-items: center;
  border-radius: 50%;
  padding:1rem .8rem 1rem 1rem;
  background: rgb(64, 64, 112);
  svg{
    width: 2rem;
    height: 2rem;
  }
 }
}

.t_content{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
height: max-content;
}
.play_btn:hover{
  transform: scale(1.1);
}
.t_last{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background:var(--pinkbg);
  padding: .5rem 0;
}


.footer{
  padding-bottom: 6rem;
}
.footer_sub{
  max-width: 700px;
  display: flex;
  flex-direction: column;
 align-items: center;
 margin: auto;
 gap: 1rem;
 text-align: center;
}

.footer_last{
  p{
    font-size: 1.3rem;
    font-weight:bold;
    margin-bottom: 1rem;
    width: fit-content;
    margin: auto;
    margin-bottom: 1.5rem;
    
  }
  span{
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
}



.k-overlay {
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.7);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 10001;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fade {
  min-width: 30px;
  width: 50px;
  position: absolute;
  z-index: 10;
  height: 100%;
  right: -2px;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1) 90%
  );
}
.iframe {
  border: black 1px solid;
}
.overlayhide {
  display: none;
}
#hide {
  display: none;
}
.yt-overlay {
  width: max(500px, 1200px);
  height: 85vh;
  min-height: 130px;
  background-color: rgb(0, 0, 0);

  margin-bottom: 2vw;

  border-color: rgb(0, 0, 0);
  position: relative;
  z-index: 10004;

  opacity: 1;
  margin: 0 2rem;
}
.section_panel{
  width: 100%;
  display: block;
  padding: 30px 0;
  border-top: 1px solid #d7d7d7;
}
.yt-sub {
  width: 100%;
  height: 100%;
}
.facts_mobile {
  display: none;
}
.imgopacity {
 
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  // background-color: rgba(75, 75, 81, 0.284);
  background-color: rgb(210 210 212 / 65%);
  color: rgba(156, 156, 158, 0.284);
  transition: 2s;
  text-align: center;
  font-size: 0.1rem;
}
.yt-title {
  display: flex;
  flex-direction: row-reverse;
  // height: 3vw;

  width: 100%;
  background-color: black;
  border: black 1px solid;

  div {
    justify-self: flex-end;

    cursor: pointer;
    margin: 0.5vw 2vw;
    color: white;
  }
}
.vidopacity {
  background: rgba(156, 156, 158, 0.284);
  color: rgba(156, 156, 158, 0.716);
  text-align: center;
  font-size: 0.1rem;
}
